@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveinbottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  margin: 1rem; }
  @media (max-width: 75em) {
    body {
      margin: 0;
      width: 116.5%; } }

.tours {
  font-size: 1.6rem;
  margin-top: -13rem;
  margin-bottom: -12rem;
  padding-top: 16rem;
  padding-bottom: 30rem;
  background-color: #f7f7f7; }

.explore {
  height: auto;
  width: auto;
  padding: 20rem 0;
  font-size: 1.6rem;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  padding-top: 15rem;
  transform: skewY(-8deg); }
  .explore::after {
    content: "";
    display: table;
    clear: both; }

.booking {
  background-color: #f7f7f7;
  padding: 20rem 0;
  margin-top: -10rem;
  font-size: 1.8rem; }
  .booking::after {
    content: "";
    display: table;
    clear: both; }

.testimonies {
  position: relative;
  padding: 15rem; }
  @media (max-width: 37.5em) {
    .testimonies {
      padding: 5rem; } }

.booker {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(34, 17, 34, 0.7); }
  @media (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%); } }
  .book__form {
    width: 50%;
    padding: 4rem; }
    @media (max-width: 56.25em) {
      .book__form {
        width: 80%;
        margin: 0 auto; } }

body {
  line-height: 1.7rem;
  font-family: 'lato', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #777; }

.header {
  text-transform: uppercase;
  color: #fff; }
  .header__heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 40%;
    text-align: center; }
    .header__heading--main {
      animation: moveinleft .6s ease-in-out .30s backwards;
      display: inline-block;
      font-size: 7.5rem;
      width: 100%;
      letter-spacing: 1.6rem;
      font-weight: 400; }
      @media (max-width: 56.25em) {
        .header__heading--main {
          font-size: 10rem;
          letter-spacing: 1.4rem; } }
    .header__heading--sub {
      animation: moveinright .6s ease-in-out .50s backwards;
      display: inline-block;
      margin-top: 7rem;
      font-size: 3rem;
      width: 100%;
      letter-spacing: .6rem;
      font-weight: 400; }
      @media (max-width: 56.25em) {
        .header__heading--sub {
          letter-spacing: .4rem;
          font-size: 4rem;
          margin-top: 8rem; } }

.heading-secondary {
  height: auto;
  padding: 3rem;
  display: inline-block;
  font-size: 3.5rem;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  text-transform: uppercase;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
  letter-spacing: .2rem;
  transition: all .2s;
  cursor: default; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      width: 100%;
      font-weight: 900;
      font-size: 5rem;
      padding: 2.5rem;
      letter-spacing: .2rem;
      line-height: 4.5rem; } }
  .heading-secondary:hover {
    transform: skewX(10deg) skewY(2deg);
    text-shadow: 0 2rem 3rem rgba(34, 17, 34, 0.5); }

.heading-tertiary {
  font-size: 1.6rem;
  color: #777;
  font-weight: 700;
  text-transform: uppercase; }
  @media (max-width: 56.25em) {
    .heading-tertiary {
      font-size: 3rem;
      font-weight: 400;
      line-height: 2.5rem; } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 6rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
  height: auto; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }
  @media (max-width: 56.25em) {
    .btn, .btn:link, .btn:visited {
      padding: 3rem 4rem;
      font-size: 2.5rem; } }

.btn:hover, .btn:focus {
  outline: none;
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(34, 17, 34, 0.2); }
  .btn:hover::after, .btn:focus::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(34, 17, 34, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777;
  margin-top: 3rem;
  border-radius: 10rem;
  display: inline-block; }
  .btn--white::after {
    background-color: #fff; }

.btn--greener {
  background-color: #55c57a;
  color: #fff;
  margin-top: 3rem;
  text-align: center;
  border-radius: 10rem; }
  .btn--greener::after {
    background-color: #55c57a; }

.btn--green {
  color: #55c57a;
  padding: 0 0 1rem 0 !important;
  border-bottom: 0.3rem solid #55c57a !important;
  box-sizing: border-box; }
  .btn--green:hover {
    background-color: #55c57a;
    color: #fff;
    padding: 1rem !important; }
  @media (max-width: 56.25em) {
    .btn--green {
      margin: 0 15rem !important;
      margin-top: 5rem !important; } }

.btn--center {
  display: block;
  margin: 0 45rem !important; }
  @media (max-width: 37.5em) {
    .btn--center {
      margin: 0 10rem !important; } }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn--animated {
  animation: moveinbottom .5s ease-out .75s backwards; }

.btn-text:link, .btn-text:visited {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: .3rem;
  font-size: 1.6rem;
  transition: all .2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(34, 17, 34, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(34, 17, 34, 0.15);
  transform: translateY(0); }

.tours__p1 {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  letter-spacing: .2rem;
  color: #777; }
  @media (max-width: 56.25em) {
    .tours__p1 {
      margin: 4rem 20rem;
      font-size: 3rem;
      line-height: 3rem; } }
  @media (max-width: 37.5em) {
    .tours__p1 {
      margin: 6rem;
      text-align: center; } }

.tours__p2 {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  letter-spacing: .2rem;
  color: #777; }
  @media (max-width: 56.25em) {
    .tours__p2 {
      margin: 4rem 20rem;
      font-size: 3rem;
      line-height: 3rem; } }
  @media (max-width: 37.5em) {
    .tours__p2 {
      margin: 6rem;
      text-align: center; } }

.tours__pic {
  position: relative; }
  @media (max-width: 56.25em) {
    .tours__pic {
      margin: 0 10rem; } }
  @media (max-width: 37.5em) {
    .tours__pic {
      margin: 0 5rem; } }
  .tours__pic--img1 {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(34, 17, 34, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 2;
    transition: all .2s;
    outline-offset: 2rem;
    left: 0;
    top: -2rem; }
    .tours__pic--img1:hover {
      outline: 1.5rem solid #55c57a;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5 4rem rgba(34, 17, 34, 0.5);
      z-index: 5; }
    @media (max-width: 56.25em) {
      .tours__pic--img1 {
        width: 25%;
        border-radius: 5px;
        top: -.5rem;
        left: 5rem; } }
    @media (max-width: 37.5em) {
      .tours__pic--img1 {
        width: 40%;
        top: -.2rem;
        left: 0; } }
  .tours__pic--img2 {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(34, 17, 34, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 2;
    transition: all .2s;
    outline-offset: 2rem;
    right: 0;
    top: 2rem; }
    .tours__pic--img2:hover {
      outline: 1.5rem solid #55c57a;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5 4rem rgba(34, 17, 34, 0.5);
      z-index: 5; }
    @media (max-width: 56.25em) {
      .tours__pic--img2 {
        width: 25%;
        border-radius: 5px;
        top: -.5rem;
        right: 20rem; } }
    @media (max-width: 37.5em) {
      .tours__pic--img2 {
        width: 40%;
        right: 5rem;
        top: -.2rem; } }
  .tours__pic--img3 {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(34, 17, 34, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 2;
    transition: all .2s;
    outline-offset: 2rem;
    left: 20%;
    top: 10rem; }
    .tours__pic--img3:hover {
      outline: 1.5rem solid #55c57a;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5 4rem rgba(34, 17, 34, 0.5);
      z-index: 5; }
    @media (max-width: 56.25em) {
      .tours__pic--img3 {
        width: 25%;
        border-radius: 5px;
        left: 29%;
        top: 0rem; } }
    @media (max-width: 37.5em) {
      .tours__pic--img3 {
        width: 40%;
        left: 25%; } }

.tours:hover .tours__pic:not(:hover) {
  transform: scale(0.95); }

.explore-box {
  height: 30rem;
  font-size: 1.8rem;
  background-color: rgba(247, 247, 247, 0.7);
  border-radius: .5rem;
  color: #777;
  text-align: center;
  padding: 3rem 1.5rem;
  line-height: 2rem;
  box-sizing: border-box;
  box-shadow: 0 0.5rem 5rem rgba(34, 17, 34, 0.3);
  transition: all .2s; }
  @media (max-width: 56.25em) {
    .explore-box {
      margin: 0 10rem;
      font-size: 3rem;
      line-height: 3rem; } }
  @media (max-width: 37.5em) {
    .explore-box {
      margin: 0 5rem; } }
  .explore-box__icon {
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 6rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    text-transform: uppercase;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
  .explore-box:hover {
    transform: translateY(-3rem); }

.explore-row {
  transform: skewY(8deg); }

.card {
  height: 52rem;
  position: relative;
  perspective: 550px;
  -moz-perspective: 550px; }
  @media (max-width: 56.25em) {
    .card {
      margin: 0 20rem;
      height: 120rem; } }
  @media (max-width: 37.5em) {
    .card {
      margin: 0 6rem; } }
  .card__side {
    color: #fff;
    height: 52rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: .3rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(34, 17, 34, 0.15);
    transition: all .8s; }
    @media (max-width: 56.25em) {
      .card__side {
        height: 70rem; } }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(-180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb988, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
      @media (max-width: 56.25em) {
        .card__side--back {
          transform: rotateY(0deg);
          height: 120rem;
          clip-path: polygon(0% 90%, 100% 70%, 100% 100%, 0% 100%);
          -webkit-clip-path: polygon(0% 58%, 100% 56%, 100% 100%, 0% 100%); } }
  .card__head {
    font-size: 2.8rem;
    line-height: 5rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
    @media (max-width: 56.25em) {
      .card__head {
        font-size: 5.6rem;
        font-weight: 700;
        top: 15rem;
        right: 4rem;
        width: 80%; } }
    .card__head-span {
      padding: 1rem 1.5rem;
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone; }
      .card__head-span--1 {
        background-image: linear-gradient(to right bottom, rgba(255, 185, 136, 0.85), rgba(255, 119, 48, 0.85)); }
      .card__head-span--2 {
        background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
      .card__head-span--3 {
        background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__pic {
    background-size: cover;
    height: 25rem;
    background-blend-mode: screen;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 100% 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%); }
    @media (max-width: 56.25em) {
      .card__pic {
        height: 33rem;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 100% 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%); } }
    .card__pic--1 {
      background-image: url(../img/nat-5.jpg), linear-gradient(to right bottom, rgba(255, 185, 136, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__pic--2 {
      background-image: url(../img/nat-6.jpg), linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__pic--3 {
      background-image: url(../img/nat-7.jpg), linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__det {
    color: #333;
    text-align: center; }
    .card__det ul {
      list-style: none;
      padding: 1rem 3rem; }
      .card__det ul li {
        display: block;
        padding: 1rem; }
        @media (max-width: 56.25em) {
          .card__det ul li {
            font-size: 3rem;
            padding: 2.5rem; } }
        .card__det ul li:not(:last-child) {
          border-bottom: 0.2rem solid #eee; }
  .card__price {
    text-align: center;
    font-weight: 300; }
    .card__price--only {
      font-size: 2rem;
      margin-top: 15rem;
      margin-bottom: 20rem; }
      @media (max-width: 56.25em) {
        .card__price--only {
          margin-top: 85rem;
          margin-bottom: 15rem;
          font-size: 3.6rem; } }
    .card__price--large {
      font-size: 6rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      @media (max-width: 56.25em) {
        .card__price--large {
          font-size: 8rem;
          top: 80%; } }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
    @media (max-width: 56.25em) {
      .card:hover .card__side--front {
        transform: rotateY(0deg); } }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
  opacity: .15;
  overflow: hidden; }
  .video-bg__vid {
    width: 100%;
    height: 100%;
    object-fit: cover; }
    @media (max-width: 56.25em) {
      .video-bg__vid {
        width: 100%;
        height: 100%;
        object-fit: cover; } }

.story {
  width: 75%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 3rem 6rem rgba(34, 17, 34, 0.1);
  border-radius: 3px;
  padding: 6rem;
  font-size: 1.6rem;
  transform: skewX(-10deg); }
  @media (max-width: 56.25em) {
    .story {
      width: 100%;
      padding: 4rem;
      font-size: 4rem;
      transform: skewX(0deg); } }
  .story__shape {
    height: 15rem;
    width: 15rem;
    float: left;
    margin: 1rem;
    transform: skewX(10deg);
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    overflow: hidden; }
    @media (max-width: 56.25em) {
      .story__shape {
        height: 20rem;
        width: 20rem;
        transform: skewX(0); } }
    @media (max-width: 37.5em) {
      .story__shape {
        height: 15rem;
        width: 15rem; } }
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s; }
    @media (max-width: 56.25em) {
      .story__img {
        transform: translateX(-4rem) scale(1);
        filter: blur(0.3rem) brightness(80%); } }
  .story__text {
    transform: skewX(10deg);
    line-height: 1.3; }
    @media (max-width: 56.25em) {
      .story__text {
        transform: skewX(0deg); } }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
    @media (max-width: 56.25em) {
      .story__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
        font-size: 3.5rem;
        line-height: 3rem; } }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(0.3rem) brightness(80%); }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  border: none;
  transition: all .3s; }
  @media (max-width: 56.25em) {
    .form__input {
      width: 100%;
      height: 10rem;
      font-size: 3rem;
      border-radius: .4rem; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(34, 17, 34, 0.1);
    border-bottom: 3px solid #55c57a; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #777;
    text-transform: uppercase; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  text-transform: uppercase;
  transition: all .3s; }
  @media (max-width: 56.25em) {
    .form__label {
      font-size: 3rem; } }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  margin-bottom: 3rem;
  width: 49%;
  float: left; }
  .form__radio-group::after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 56.25em) {
    .form__radio-group {
      width: 100%;
      margin-bottom: 2rem; } }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }
  @media (max-width: 56.25em) {
    .form__radio-label {
      font-size: 3rem;
      padding-left: 6rem; } }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem; }
  @media (max-width: 56.25em) {
    .form__radio-button {
      height: 2.5rem;
      width: 2.5rem;
      border: 2px solid #55c57a; } }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #55c57a;
    opacity: 0;
    transition: opacity .2s; }
    @media (max-width: 56.25em) {
      .form__radio-button::after {
        height: 1.5rem;
        width: 1.5rem;
        top: 49%; } }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media (max-width: 56.25em) {
    .row {
      max-width: 100%;
      margin: 0; } }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important;
        margin: 0 auto;
        font-size: 1.6rem;
        float: none;
        margin-bottom: 8rem; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
    @media (max-width: 56.25em) {
      .row .col-1-of-4 {
        width: calc((100% - 6rem) / 2); } }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }

.header {
  height: 90vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  clip-path: polygon(0% 0%, 100% 0%, 100% 75vh, 0% 100%);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75vh, 0% 100%);
  background-size: cover;
  position: relative; }
  @media (max-width: 56.25em) {
    .header {
      height: 85vh;
      clip-path: polygon(0% 0%, 100% 0%, 100%, 80vh, 0% 100%);
      -webkit-clip-path: polygon(0% 0%, 100% 0%, 100%, 80vh, 0% 100%); } }
  .header__logobox {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    width: 10rem; }

.footer {
  background-color: #333;
  padding: 10rem 0rem;
  font-size: 1.4rem;
  color: #f7f7f7;
  font-weight: 300; }
  @media (max-width: 56.25em) {
    .footer {
      font-weight: 400;
      font-size: 1rem; } }
  .footer__img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10rem;
    box-sizing: border-box; }
    @media (max-width: 37.5em) {
      .footer__img {
        width: 20rem;
        height: 20rem; } }
  .footer__nav {
    padding-top: 2rem;
    border-top: 0.1rem solid #f7f7f7;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .footer__nav {
        font-size: 2.7rem;
        margin: 0 16rem;
        float: none; } }
    @media (max-width: 37.5em) {
      .footer__nav {
        margin: 0 5rem; } }
  .footer__paragraph {
    padding-top: 2rem;
    border-top: 0.1rem solid #f7f7f7;
    width: 80%;
    float: right; }
    @media (max-width: 56.25em) {
      .footer__paragraph {
        font-size: 3rem;
        margin: 0 13rem;
        line-height: 3rem;
        text-align: center;
        float: none; } }
    @media (max-width: 37.5em) {
      .footer__paragraph {
        margin: 0 5rem; } }
  .footer__item {
    list-style: none;
    text-align: center; }
  .footer__list {
    display: inline-block; }
    .footer__list:not(:last-child) {
      margin-right: 3rem; }
      @media (max-width: 37.5em) {
        .footer__list:not(:last-child) {
          margin-top: 2rem; } }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    display: inline-block;
    transition: all .3s; }
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(34, 17, 34, 0.4);
    transform: rotate(5deg) scale(1.3); }

.navigation {
  position: fixed;
  width: 100%;
  z-index: 1000; }
  .navigation__input {
    display: none; }
  .navigation__btn {
    width: 7rem;
    height: 7rem;
    background-color: #fff;
    border-radius: 100%;
    position: absolute;
    top: 4rem;
    right: 10rem;
    box-shadow: 0 0.5rem 1rem rgba(34, 17, 34, 0.75); }
    @media (max-width: 75em) {
      .navigation__btn {
        right: 5rem;
        width: 10rem;
        height: 10rem; } }
    @media (max-width: 56.25em) {
      .navigation__btn {
        right: 2rem;
        width: 10rem;
        height: 10rem; } }
    @media (max-width: 37.5em) {
      .navigation__btn {
        right: .5rem;
        width: 7rem;
        height: 7rem; } }
    .navigation__btn::after {
      content: "";
      width: 6rem;
      height: 6rem;
      background-image: radial-gradient(#7ed56f, #28b485);
      border-radius: 100%;
      position: absolute;
      top: .5rem;
      right: .5rem;
      z-index: -100;
      transition: transform 1s; }
      @media (max-width: 75em) {
        .navigation__btn::after {
          right: 1rem;
          top: 1rem; } }
  .navigation__input:checked ~ .navigation__label .navigation__btn::after {
    transform: scale(100); }
  .navigation__nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: -1000;
    z-index: 150;
    opacity: 0;
    width: 0%;
    transition: all .4s; }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }
  .navigation__item {
    margin: 1rem; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 225%;
    transition: all .4s; }
    .navigation__link:link span, .navigation__link:visited span {
      margin-right: 1.5rem;
      display: inline-block; }
    @media (max-width: 56.25em) {
      .navigation__link:link, .navigation__link:visited {
        font-size: 5rem; } }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #55c57a;
    transform: translateX(1rem); }
  .navigation__input:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%;
    left: 0; }
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem;
    margin-left: 1rem;
    z-index: 300; }
    @media (max-width: 56.25em) {
      .navigation__icon {
        margin-top: 4.5rem;
        margin-left: 2rem; } }
    @media (max-width: 75em) {
      .navigation__icon {
        margin-top: 4.5rem;
        margin-left: 2.2rem; } }
    @media (max-width: 37.5em) {
      .navigation__icon {
        margin-top: 3.2rem;
        margin-left: 1.3rem; } }
    .navigation__icon, .navigation__icon::after, .navigation__icon::before {
      width: 5rem;
      height: 3px;
      background-color: #333;
      display: inline-block; }
      @media (max-width: 56.25em) {
        .navigation__icon, .navigation__icon::after, .navigation__icon::before {
          width: 8rem; } }
      @media (max-width: 75em) {
        .navigation__icon, .navigation__icon::after, .navigation__icon::before {
          width: 6rem; } }
      @media (max-width: 37.5em) {
        .navigation__icon, .navigation__icon::after, .navigation__icon::before {
          width: 4.5rem; } }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      transition: all .2s; }
    .navigation__icon::before {
      top: -1rem; }
      @media (max-width: 56.25em) {
        .navigation__icon::before {
          top: -1.6rem; } }
      @media (max-width: 75em) {
        .navigation__icon::before {
          top: -1.5rem; } }
    .navigation__icon::after {
      top: 1rem; }
      @media (max-width: 56.25em) {
        .navigation__icon::after {
          top: 1.6rem; } }
      @media (max-width: 75em) {
        .navigation__icon::after {
          top: 1.5rem; } }
  .navigation__btn:hover .navigation__icon::before {
    top: -1.3rem; }
    @media (max-width: 56.25em) {
      .navigation__btn:hover .navigation__icon::before {
        top: -2.2rem; } }
    @media (max-width: 75em) {
      .navigation__btn:hover .navigation__icon::before {
        top: -1.8rem; } }
  .navigation__btn:hover .navigation__icon::after {
    top: 1.3rem; }
    @media (max-width: 56.25em) {
      .navigation__btn:hover .navigation__icon::after {
        top: 2.2rem; } }
    @media (max-width: 75em) {
      .navigation__btn:hover .navigation__icon::after {
        top: 1.8rem; } }
  .navigation__input:checked + .navigation__btn .navigation__icon {
    background-color: transparent; }
  .navigation__input:checked + .navigation__btn .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__input:checked + .navigation__btn .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 30%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0;
      width: 100%; } }
