@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveinbottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.tours {
  font-size: 1.6rem;
  margin-top: -13rem;
  margin-bottom: -12rem;
  padding-top: 16rem;
  padding-bottom: 30rem;
  background-color: #f7f7f7; }

.explore {
  height: 100%;
  width: auto;
  font-size: 1.6rem;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../../img/nat-4.jpg);
  background-size: cover;
  padding-top: 15rem;
  transform: skewY(-8deg); }
  .explore::after {
    content: "";
    display: table;
    clear: both; }

.booking {
  background-color: #f7f7f7;
  padding: 20rem 0;
  margin: -10rem 0 0 0;
  font-size: 1.8rem; }
  .booking::after {
    content: "";
    display: table;
    clear: both; }

.testimonies {
  position: relative;
  padding: 15rem; }

body {
  line-height: 1.7rem;
  font-family: 'lato', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #777; }

.header {
  text-transform: uppercase;
  color: #fff; }
  .header__heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 40%;
    text-align: center; }
    .header__heading--main {
      animation: moveinleft .6s ease-in-out .30s backwards;
      display: inline-block;
      font-size: 5.8rem;
      width: 100%;
      letter-spacing: .4rem;
      font-weight: 400; }
    .header__heading--sub {
      animation: moveinright .6s ease-in-out .50s backwards;
      display: inline-block;
      margin-top: 3rem;
      font-size: 2.2rem;
      width: 100%;
      letter-spacing: 1.6rem;
      font-weight: 400; }

.heading-secondary {
  height: auto;
  padding: 3rem;
  display: inline-block;
  font-size: 3.5rem;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  text-transform: uppercase;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 300;
  letter-spacing: .2rem;
  transition: all .2s;
  cursor: default; }
  .heading-secondary:hover {
    transform: skewX(10deg) skewY(2deg);
    text-shadow: 0 2rem 3rem rgba(34, 17, 34, 0.5); }

.heading-tertiary {
  font-size: 1.6rem;
  color: #777;
  font-weight: 300;
  text-transform: uppercase; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 6rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
  height: auto; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover, .btn:focus {
  outline: none;
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(34, 17, 34, 0.2); }
  .btn:hover::after, .btn:focus::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(34, 17, 34, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777;
  margin-top: 3rem;
  border-radius: 10rem; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  color: #55c57a;
  text-decoration: underline; }
  .btn--green:hover, .btn--green:focus {
    background-color: #55c57a;
    color: #fff;
    outline: none;
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(34, 17, 34, 0.2);
    border-radius: 10rem; }
  .btn--green:active {
    outline: none;
    transform: translate(0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(34, 17, 34, 0.2); }

.btn--center {
  display: inline-block;
  margin: 0 50rem; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn--animated {
  animation: moveinbottom .5s ease-out .75s backwards; }

.btn-text:link, .btn-text:visited {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: .3rem;
  font-size: 1.6rem;
  transition: all .2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(34, 17, 34, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(34, 17, 34, 0.15);
  transform: translateY(0); }

.tours__p1 {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  letter-spacing: .2rem;
  color: #777; }

.tours__p2 {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  letter-spacing: .2rem;
  color: #777; }

.tours__pic {
  position: relative; }
  .tours__pic--img1 {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(34, 17, 34, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 2;
    transition: all .2s;
    outline-offset: 2rem;
    left: 0;
    top: -2rem; }
    .tours__pic--img1:hover {
      outline: 1.5rem solid #55c57a;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5 4rem rgba(34, 17, 34, 0.5);
      z-index: 5; }
  .tours__pic--img2 {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(34, 17, 34, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 2;
    transition: all .2s;
    outline-offset: 2rem;
    right: 0;
    top: 2rem; }
    .tours__pic--img2:hover {
      outline: 1.5rem solid #55c57a;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5 4rem rgba(34, 17, 34, 0.5);
      z-index: 5; }
  .tours__pic--img3 {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(34, 17, 34, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 2;
    transition: all .2s;
    outline-offset: 2rem;
    left: 20%;
    top: 10rem; }
    .tours__pic--img3:hover {
      outline: 1.5rem solid #55c57a;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5 4rem rgba(34, 17, 34, 0.5);
      z-index: 5; }

.tours:hover .tours__pic:not(:hover) {
  transform: scale(0.95); }

.explore-box {
  height: 30rem;
  font-size: 1.8rem;
  background-color: rgba(247, 247, 247, 0.7);
  border-radius: .5rem;
  color: #777;
  text-align: center;
  padding: 3rem 1.5rem;
  line-height: 2rem;
  box-sizing: border-box;
  box-shadow: 0 0.5rem 5rem rgba(34, 17, 34, 0.3);
  transition: all .2s; }
  .explore-box__icon {
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 6rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    text-transform: uppercase;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
  .explore-box:hover {
    transform: translateY(-3rem); }

.explore-row {
  transform: skewY(8deg); }

.card {
  height: 52rem;
  position: relative;
  perspective: 550px;
  -moz-perspective: 550px; }
  .card__side {
    color: #fff;
    height: 52rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: .3rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(34, 17, 34, 0.15);
    transition: all .8s; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(-180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb988, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card__head {
    font-size: 2.8rem;
    line-height: 5rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
    .card__head-span {
      padding: 1rem 1.5rem;
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone; }
      .card__head-span--1 {
        background-image: linear-gradient(to right bottom, rgba(255, 185, 136, 0.85), rgba(255, 119, 48, 0.85)); }
      .card__head-span--2 {
        background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
      .card__head-span--3 {
        background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__pic {
    background-size: cover;
    height: 25rem;
    background-blend-mode: screen;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 100% 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%); }
    .card__pic--1 {
      background-image: url(../../img/nat-5.jpg), linear-gradient(to right bottom, rgba(255, 185, 136, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__pic--2 {
      background-image: url(../../img/nat-6.jpg), linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__pic--3 {
      background-image: url(../../img/nat-7.jpg), linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__det {
    color: #333;
    text-align: center; }
    .card__det ul {
      list-style: none;
      padding: 1rem 3rem; }
    .card__det li {
      display: block;
      padding: 1rem; }
      .card__det li:not(:last-child) {
        border-bottom: 0.2rem solid #eee; }
  .card__price {
    text-align: center;
    font-weight: 300; }
    .card__price--only {
      font-size: 2rem;
      margin-top: 15rem;
      margin-bottom: 20rem; }
    .card__price--large {
      font-size: 6rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
  opacity: .15; }
  .video-bg__vid {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.story {
  width: 75%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 3rem 6rem rgba(34, 17, 34, 0.1);
  border-radius: 3px;
  padding: 6rem;
  font-size: 1.6rem;
  transform: skewX(-10deg); }
  .story__shape {
    height: 15rem;
    width: 15rem;
    float: left;
    margin: 1rem;
    transform: skewX(10deg);
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    overflow: hidden; }
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s; }
  .story__text {
    transform: skewX(10deg);
    line-height: 1.3; }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(0.3rem) brightness(80%); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }

.header {
  height: 90vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../../img/hero.jpg);
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75vh, 0% 100%);
  background-size: cover;
  position: relative; }
  .header__logobox {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    width: 7rem; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.25%; }

body {
  padding: 3rem;
  box-sizing: border-box; }
