//colors
$lightnature:#7ed56f;
$nature: #55c57a;
$ultranature:#28b485;
$milk:#fff;
$dark:#212;
$twilight:#777;
$ash:#f7f7f7;
$dull: #eee;
$sun: #ffb988;
$ragingsun: #ff7730;
$sea: #2998ff;
$ocean: #5643fa;
$cold: #333;



//grid
$gridwidth: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal:6rem;
$gutter-horizontal-small:2rem;


//font
$primefont: 1.6rem;

//boxshadow
$darkshadow: rgba($dark, .15);
