.explore-box{
    height: 30rem;
    font-size: 1.8rem;
    background-color: rgba($ash, .7);
    border-radius: .5rem;
    color: $twilight;
    text-align: center;
    padding: 3rem 1.5rem;
    line-height: 2rem;
    box-sizing: border-box;
    box-shadow: 0 .5rem 5rem rgba($dark, .3);
    transition: all .2s;


    @include respond(tab-port) {
        margin: 0 10rem;
        font-size: 3rem;
        line-height: 3rem;
    }

    @include respond(phone) {
        margin: 0 5rem;
    }

    &__icon {
        display: inline-block;
        margin-bottom: 2rem;
        font-size: 6rem;
        background-image: linear-gradient(to right, $lightnature, $ultranature);
        text-transform: uppercase;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;

    }

    &:hover {
        transform: translateY(-3rem);
    }
}

.explore-col {
    &-1 {
        @include respond(tab-port){
            width: calc((100% - #{$gutter-horizontal}) / 2);
            float: left;
            
        }
    }
}

.explore-row {
    transform: skewY(8deg);

}