.tours {
    &__p1 {
        margin-bottom: 2rem;
        font-size: 1.8rem;
        letter-spacing: .2rem;
        line-height: 2rem;
        color: $twilight;
    }
    
    &__p2 {
        margin-bottom: 2rem;
        font-size: 1.8rem;
        letter-spacing: .2rem;
        line-height: 2rem;
        color: $twilight;
    }

    &__pic {
        position: relative;
        

        &--img1 {
            box-shadow: 0 1.5rem 4rem rgba($dark, .4);
            border-radius: 2px;
            position: absolute;
            width: 55%;
            left: 0;
            top: -2rem;
            z-index: 2;
            transition: all .2s;
            outline-offset: 2rem;

            &:hover {
                outline: 1.5rem solid $nature;
                transform: scale(1.05) translateY(-.5rem);
                box-shadow: 0 2.5 4rem rgba($dark, .5);
                z-index: 5;
            }

            &:hover &__pic:not(:hover) {
                transform: scale(.95)
            }
        }

        &--img2 {
            box-shadow: 0 1.5rem 4rem rgba($dark, .4);
            border-radius: 2px;
            position: absolute;
            width: 55%;
            right: 0;
            top: 2rem;
            z-index: 2;
            transition: all .2s;
            outline-offset: 2rem;

            &:hover {
                outline: 1.5rem solid $nature;
                transform: scale(1.05) translateY(-.5rem);
                box-shadow: 0 2.5 4rem rgba($dark, .5);
                z-index: 5;
            }

            &:hover &__pic:not(:hover) {
                transform: scale(.95)
            }
        }

        &--img3 {
            box-shadow: 0 1.5rem 4rem rgba($dark, .4);
            border-radius: 2px;
            position: absolute;
            width: 55%;
            left: 20%;
            top: 10rem;
            z-index: 2;
            transition: all .2s;
            outline-offset: 2rem;

            &:hover {
                outline: 1.5rem solid $nature;
                transform: scale(1.05) translateY(-.5rem);
                box-shadow: 0 2.5 4rem rgba($dark, .5);
                z-index: 5;
            }

            &:hover &__pic:not(:hover) {
                transform: scale(.95)
            }
        }

        


    }
     
}