.tours {
    &__p1 {
        margin-bottom: 2rem;
        font-size: 1.8rem;
        letter-spacing: .2rem;
        color: $twilight;

        @include respond(tab-port) {
            margin: 4rem 20rem;
            font-size: 3rem;
            line-height: 3rem;
        }

        @include respond(phone) {
            margin: 6rem;
            text-align: center;
        }
    }
    
    &__p2 {
        margin-bottom: 2rem;
        font-size: 1.8rem;
        letter-spacing: .2rem;
        color: $twilight;

        @include respond(tab-port) {
            margin: 4rem 20rem;
            font-size: 3rem;
            line-height: 3rem;
        }

        @include respond(phone) {
            margin: 6rem;
            text-align: center;
        }
    }

    &__pic {
        position: relative;
        

        @include respond(tab-port) {
            margin: 0 20rem;
        }

        @include respond(phone) {
            margin: 0 10rem;
        }

        &--img1 {
            width: 55%;
            box-shadow: 0 1.5rem 4rem rgba($dark, .4);
            border-radius: 2px;
            position: absolute;
            z-index: 2;
            transition: all .2s;
            outline-offset: 2rem;
            left: 0;
            top: -2rem;

            &:hover {
                outline: 1.5rem solid $nature;
                transform: scale(1.05) translateY(-.5rem);
                box-shadow: 0 2.5 4rem rgba($dark, .5);
                z-index: 5;
            }

            @include respond(tab-port) {
                width: 25%;
                border-radius: 5px;
                top: -.5rem;
                left: 5rem;
            }

            @include respond(phone){
                width: 40%;
                top: -.2rem;
                left: 0;
            }

        }

        &--img2 {
            width: 55%;
            box-shadow: 0 1.5rem 4rem rgba($dark, .4);
            border-radius: 2px;
            position: absolute;
            z-index: 2;
            transition: all .2s;
            outline-offset: 2rem;
            right: 0;
            top: 2rem;

            &:hover {
                outline: 1.5rem solid $nature;
                transform: scale(1.05) translateY(-.5rem);
                box-shadow: 0 2.5 4rem rgba($dark, .5);
                z-index: 5;
            }

            @include respond(tab-port) {
                width: 25%;
                border-radius: 5px;
                top: -.5rem;
                right: 20rem;
            }

            @include respond(phone) {
                width: 40%;
                right: 5rem;
                top: -.2rem;
            }
        }

        &--img3 {
            width: 55%;
            box-shadow: 0 1.5rem 4rem rgba($dark, .4);
            border-radius: 2px;
            position: absolute;
            z-index: 2;
            transition: all .2s;
            outline-offset: 2rem;
            left: 20%;
            top: 10rem;


            &:hover {
                outline: 1.5rem solid $nature;
                transform: scale(1.05) translateY(-.5rem);
                box-shadow: 0 2.5 4rem rgba($dark, .5);
                z-index: 5;
            }

            @include respond(tab-port) {
                width: 25%;
                border-radius: 5px;
                left: 29%;
                top: 0rem;
            }

            @include respond(phone) {
                width: 40%;
                left: 25%;
            }

        }

    }
     &:hover &__pic:not(:hover) {
            transform: scale(.95)
        }

}