.tours {
    font-size: $primefont;
    margin-top: -13rem;
    margin-bottom: -12rem;
    padding-top: 16rem;
    padding-bottom: 30rem;
    background-color: $ash;
}

.explore {
    height: 100%;
    width: auto;
    font-size: $primefont;
    background-image: linear-gradient(to right bottom, rgba($lightnature, .8), rgba($ultranature, .8)), url(../../img/nat-4.jpg);
    background-size: cover;
    padding-top: 15rem;

    transform: skewY(-8deg);

    @include Clear;
}

.booking {
    background-color: $ash;
    padding: 20rem 0;
    margin: -10rem 0 0 0;
    font-size: 1.8rem;

    @include Clear;
}

.testimonies {
    position: relative;
    padding: 15rem;
}

.booker {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $lightnature, $ultranature);
  }

.book {
    background-image: linear-gradient(105deg,
                                    rgba($milk, .9) 0%,
                                    rgba($milk, .9) 50%,
                                    transparent 50%) ,
                                     url(../../img/nat-10.jpg);
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($dark, .7);
  
  
    &__form{
      width: 50%;
      padding: 4rem;
    }
  }