.tours {
    font-size: $primefont;
    margin-top: -13rem;
    margin-bottom: -12rem;
    padding-top: 16rem;
    padding-bottom: 30rem;
    background-color: $ash;
}

.explore {
    height: 100%;
    width: auto;
    font-size: $primefont;
    background-image: linear-gradient(to right bottom, rgba($lightnature, .8), rgba($ultranature, .8)), url(../../img/nat-4.jpg);
    background-size: cover;
    padding-top: 15rem;

    transform: skewY(-8deg);

    @include Clear;
}

.booking {
    margin-top: 20rem;
    font-size: 1.8rem;
}