body {
    margin: 3rem;
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: white;
    
    &__heading {
        @include centre;
        top: 40%;
        text-align: center;

        &--main {
            animation: moveinleft .6s ease-in-out .30s backwards;
            display: inline-block;
            font-size: 5.8rem;
            width: 100%;
            letter-spacing: .4rem;
            font-weight: 400;
        }

        &--sub {
            animation: moveinright .6s ease-in-out .50s backwards;
            display: inline-block;
            margin-top: 3rem;
            font-size: 2.2rem;
            width: 100%;
            letter-spacing: 1.6rem;
            font-weight: 400;
        }

    }
}

.heading-secondary {
    display: inline-block;
    font-size: 3.5rem;
    background-image: linear-gradient(to right, $lightnature, $ultranature);
    text-transform: uppercase;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 300;
    letter-spacing: .2rem;
    transition: all .2s;
    cursor: default;
    
    &:hover {
        transform: skewX(10deg) skewY(2deg);
        text-shadow: 0 2rem 3rem rgba($dark, .5);
    }
}

.heading-tertiary {
    font-size: 1.6rem;
    color: $twilight;
    font-weight: 100;
    text-transform: uppercase;
}
