body {
    margin: 2rem;
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: white;
    
    &__heading {
        @include centre;
        top: 40%;
        text-align: center;

        &--main {
            animation: moveinleft .6s ease-in-out .30s backwards;
            display: inline-block;
            font-size: 8rem;
            width: 100%;
            letter-spacing: .4rem;
        }

        &--sub {
            animation: moveinright .6s ease-in-out .50s backwards;
            display: inline-block;
            font-size: 3.5rem;
            width: 100%;
            letter-spacing: .3rem;
            font-weight: 100;
        }

    }
}