.footer {
    background-color: $cold;
    padding: 10rem 0rem;
    font-size: 1.4rem;
    color: $ash;
    font-weight: 300;

    @include respond(tab-port) {
        font-weight: 400;
        font-size: 1rem;
    }

    &__img {
        display: block;
        margin: 0 auto;
        margin-bottom: 10rem;
        box-sizing: border-box;

        @include respond(phone) {
            width: 30rem;
            height: 30rem;
        }
    }

    &__nav {
        padding-top: 2rem;
        border-top: .1rem solid $ash;
        display: inline-block;

        @include respond(tab-port) {
        font-size: 2.7rem;
        margin: 0 16rem;
        float: none;
        }

        @include respond(phone) {
            margin: 0 5rem;
        }
        
    }

    &__paragraph {
        padding-top: 2rem;
        border-top: .1rem solid $ash; 
        width: 80%;
        float: right;

        @include respond(tab-port) {
            font-size: 3rem;
            margin: 0 13rem;
            line-height: 3rem;
            text-align: center;
            float: none;
        }

        @include respond(phone) {
            margin: 0 5rem;
        }
    }

    &__item {
        list-style: none;
        text-align: center;
        
    }

    &__list {
        display: inline-block;  
        
        &:not(:last-child) {
            margin-right: 3rem;

            @include respond(phone) {
                margin-top: 2rem;
            }
        }

        
    }



    &__link {

        &:link,
        &:visited {
          color: $ash;
          background-color: #333;
          text-decoration: none;
          display: inline-block;
          transition: all .3s;
        }
    
        &:hover,
        &:active {
          color: $nature;
          box-shadow: 0 1rem 2rem rgba($dark, .4);
          transform: rotate(5deg) scale(1.3);
        }
      }
}