.header {
    height: 90vh;
    background-image: linear-gradient(to right bottom, rgba($lightnature, .8), rgba($ultranature, .8)), url(../../img/hero.jpg);
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 100%);
    -webkit-clip-path:polygon(0% 0%, 100% 0%, 100% 75%, 0% 100%);
    background-size: cover;
    position: relative;

    &__logobox {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        width: 6rem;
        
    }
}